body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* -------------
------header styles------
------------- */
.header-container {
    height: auto;
    background-color: darkgreen;
    border-radius: 10px;
    margin: 30px;
    display: flex;
}

.half-width {
    width: 50%;
}

.banner-image {
    position: relative;
}

.banner-image img {
    width: 70%;
    position: absolute;
    bottom: 0;
    padding-left: 100px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.intro h1 {
    font-size: 50px;
    margin: 0;
}

.intro p {
    font-size: 20px;
    margin: 0;
}

.live-button {
    width: 150px;
    height: 50px;
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

/* -------------
------Main Section Styles------
------------- */
.main-section {
    display: grid;
    grid-template-columns: 250px auto;
    justify-content: space-between;
    margin: 30px;
}

.menu {
    background-color: darkgreen;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 250px;
}

.menu button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 800;
}

#hover-button {
    background-color: red;
    color: white;
}

.menu a button:hover {
    background-color: red;
    cursor: pointer;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-evenly;
}


.match {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
}

.country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special {
    text-align: center;
    display: none;
}

.special button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* -------------
------Footer Styles------
------------- */
footer {
    text-align: center;
    width: 100%;
    background-color: darkgreen;
    margin-top: 50px;
    padding: 50px 0;
}

footer h2 {
    color: white;
}

footer hr {
    width: 80%;
}

footer a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.fa-facebook {
    background-color: white;
    color: blue;
}

.fa-youtube {
    background-color: white;
    color: red;
}

.fa-twitter {
    background-color: white;

    color: rgb(22, 180, 243);
}